.main {
    justify-content: center;
}

.container {
    width: 650px;
    height: 400px;
    margin-top: 100px;
    background-color: #3062cfca;
    border-radius: 20px;
    box-shadow: 0px 0px 200px rgb(151, 199, 226);
}

.findpw-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.dp {
    text-align: center;
    margin-top: 70px;
    margin-bottom: 20px;
    text-transform: uppercase;
    color: #fff;
    letter-spacing: 5px;
}

.cell {
    display: none;
}

input {
    background-color: transparent;
    width: 60%;
    color: #fff;
    border: none;
    border-bottom: 1px solid rgba(255,255,255,0.4);
    padding: 10px 0;
    text-indent: 10px;
    margin: 8px 0;
    font-size: 14px;
    letter-spacing: 2px;
}

input::placeholder {
    color: #fff;
}

input:focus {
    color: #ffffff;
    outline: none;
    border-bottom: 1px solid #001c4f80;
    transition: 0.5s;
}

input:focus::placeholder {
    opacity: 0;
}

.findpw-box input[type='submit'] {
    width: 50%;
    margin-top: 20px;
    background-color: #f6f6f6;
    outline: none;
    border-radius: 10px;
    padding: 13px;
    color: #001c4f80;
    letter-spacing: 2px;
    border: none;
    cursor: pointer;
    font-weight: bold;
}

.findpw-box input[type='submit']:hover {
    background-color: rgb(0, 56, 112);
    color: white;
    transition: background-color 0.35s ease;
}

.auth {
    width: 55%;
    align-self: flex-start;
    margin-left: 20%;
    display: flex;
    flex-direction: row;
}

.captcha {
    display: flex;
    flex-direction: row;
}

.captcha img {
    width: 120px;
    height: 40px;
    margin-top: 5px;
    margin-left: 10px;
    margin-right: 10px;
}

.captcha input[type='button'] {
    align-self: flex-end;
    margin-right: -30px;
    background-color: #f6f6f6;
    outline: none;
    border-radius: 10px;
    color: #001c4f80;
    letter-spacing: 0.5px;
    border: none;
    cursor: pointer;
    font-weight: bold;
    font-size: 2vh;
    width: 30%;
    text-align: center;
    padding-right: 10px;
}

.captcha input[type='button']:hover {
    background-color: rgb(0, 56, 112);
    color: white;
    transition: background-color 0.35s ease;
}

@media only screen and (max-width: 600px) {
    .main {
        align-items: center;
    }
    
    .container {
        width: 80vw;
        height: 60vh;
        margin-top: -40%;
    }

    .dp {
        display: none;
    }

    .cell {
        display: unset;
        text-align: center;
        margin-top: 5vh;
        margin-bottom: 2vh;
        text-transform: uppercase;
        color: #fff;
        letter-spacing: 5px;
    }

    .auth {
        flex-direction: column;
    }

    .auth input[type='text'] {
        width: 110%;
    }

    .captcha img {
        margin-left: -1%;
    }

    .captcha input[type='button'] {
        font-size: 3vw;
    }
}