<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>嗨心無限公司</title>

    <link rel="stylesheet" href="../static/css/topbar.css">
    <link rel="stylesheet" href="../static/css/about.css">
</head>
<body>
    <div class="topbar">
        <span class="extra-text">
            <a href="/">Happy Infinite</a>
        </span>
        <div class="link">
            <a href="/">首頁</a>
            <a href="/about">關於公司</a>
            <a href="/nothing">充個版面</a>
            <a href="/contact">聯絡我們</a>
        </div>
    </div>
    <div class="main">
        <div class="sidebar">
            <ul>
                <li>
                    <a href="/about">公司簡介</a>
                </li>
                <li>
                    <a href="/about/history">發展歷史</a>
                </li>
                <li>
                    <a href="/about/members">成員名單</a>
                </li>
            </ul>
        </div>
        <div class="content">
            <h2>公司簡介</h2>
            <p>嗨心無限公司是一件全能公司，只有你想不到，沒有我們做不到！</p>
            <p>P.S. 聽說CEO很帥。</p>
        </div>
    </div>
</body>
</html>
