<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>嗨心無限公司</title>

    <link rel="stylesheet" href="../static/css/topbar.css">
    <link rel="stylesheet" href="../static/css/findpw.css">
</head>
<body>
    <div class="topbar">
        <span class="extra-text">
            <a href="/">Happy Infinite</a>
        </span>
        <div class="link">
            <a href="/">首頁</a>
            <a href="/about">關於公司</a>
            <a href="/nothing">充個版面</a>
            <a href="/contact">聯絡我們</a>
        </div>
    </div>
    <div class="main">
        <div class="container">
            <form class="findpw-box" action="{{.ActionURLFindpw}}" method="post">
                <h1>Find Password</h1>
                <input type="text" id="username" placeholder="username" name="username">
                <input type="email" id="email" placeholder="email" name="email">
                <div class="auth">
                    <input type="text" id="captcha-code" placeholder="captcha code">
                    <img id="captcha" alt="captcha" src="" data-auth-url="{{.ActionURLCaptcha}}">
                    <input type="button" id="refresh-captcha" value="刷新">
                </div>
                <input type="submit" value="確認送出">
            </form>
        </div>
    </div>
    <script src="../static/js/findpw.js"></script>
    </div>
</body>
</html>