<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>嗨心無限公司</title>

    <link rel="stylesheet" href="../static/css/topbar.css">
    <link rel="stylesheet" href="../static/css/history.css">
</head>
<body>
    <div class="topbar">
        <span class="extra-text">
            <a href="/">Happy Infinite</a>
        </span>
        <div class="link">
            <a href="/">首頁</a>
            <a href="/about">關於公司</a>
            <a href="/nothing">充個版面</a>
            <a href="/contact">聯絡我們</a>
        </div>
    </div>
    <div class="main">
        <div class="sidebar">
            <ul>
                <li>
                    <a href="/about">公司簡介</a>
                </li>
                <li>
                    <a href="/about/history">發展歷史</a>
                </li>
                <li>
                    <a href="/about/members">成員名單</a>
                </li>
            </ul>
        </div>
        <div class="content">
            <h2>2024/03/14 公司由創辦人 杜峯 創立</h2>
            <p>目前“嗨心無限公司”仍然在草創階段，還在努力的寫代碼。</p>
        </div>
    </div>
</body>
</html>