<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>嗨心無限公司</title>

    <!-- 
        ⣴⣦⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⣴⡷
        ⠈⣿⣷⣦⣄⡀⠀⠀⠀⠀⠀⠀⠀⠀⣀⣤⣶⣿⣿
        ⠀⢸⣿⣿⣿⣿⣷⣆⣀⣀⣀⣀⣀⣾⣿⣿⣿⣿⡇
        ⠀⢸⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⡇
        ⠀⠀⠿⢿⣿⣿⣿⣿⡏⡀⠀⡙⣿⣿⣿⣿⣿⠛
        ⠀⠀⠀⣿⣿⣿⡿⠟⠷⣅⣀⠵⠟⢿⣿⣿⣿⡆
        ⠀⠀⠀⣿⣿⠏⢲⣤⠀⠀⠀⠀⢠⣶⠙⣿⣿⠃
        ⠀⠀⠀⠘⢿⡄⠈⠃⠀⢐⢔⠀⠈⠋⢀⡿⠋
        ⠀⠀⠀⢀⢀⣼⣷⣶⣤⣤⣭⣤⣴⣶⣍
        ⠀⠀⠀⠈⠈⣈⢰⠿⠛⠉⠉⢻⢇⠆⣁⠁
        ⠀⠀⠀⠀⠀⠑⢸⠉⠀⠀⠀⠀⠁⡄⢘⣽⣿
        ⠀⠀⠀⠀⠀⠀⡜⠀⠀⢰⡆⠀⠀⠻⠛⠋
        ⠀⠀⠀⠀⠀⠀⠑⠒⠒⠈⠈⠒⠒⠊
        ||||||||||||||||||||||||||||||
        ||||||||||||KUROMI||||||||||||
        |||||BLESSING|||||PROGRAM|||||
        ||||||||||||||||||||||||||||||
    -->

    <link rel="stylesheet" href="../static/css/topbar.css">
    <link rel="stylesheet" href="../static/css/home.css">
</head>
<body>
    <div class="topbar">
        <span class="extra-text">
            <a href="/">Happy Infinite</a>
        </span>
        <div class="link">
            <a href="/">首頁</a>
            <a href="/about">關於公司</a>
            <a href="/nothing">充個版面</a>
            <a href="/contact">聯絡我們</a>
        </div>
    </div>
    <div class="main">
        <div class="left-half">
            <img id="image" src="/static/image/impression.JPG" alt="Impression">
        </div>
        <div class="right-half">
            <div class="right-half">
                <button class="button" onclick="window.location.href = '/login'">登入 / 註冊</button>
                <button class="button" onclick="window.location.href = '/subpage'">選擇頁面</button>
                <button class="button">還沒想到</button>
                <button class="button" onclick="window.open('https://www.instagram.com/df_alonza_03.14', '_blank')">Follow Instagram</button>
            </div>
        </div>
    </div>
</body>
</html>
