<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>嗨心無限公司</title>

    <link rel="stylesheet" href="../static/css/topbar.css">
    <link rel="stylesheet" href="../static/css/members.css">
</head>
<body>
    <div class="topbar">
        <span class="extra-text">
            <a href="/">Happy Infinite</a>
        </span>
        <div class="link">
            <a href="/">首頁</a>
            <a href="/about">關於公司</a>
            <a href="/nothing">充個版面</a>
            <a href="/contact">聯絡我們</a>
        </div>
    </div>
    <div class="main">
        <div class="sidebar">
            <ul>
                <li>
                    <a href="/about">公司簡介</a>
                </li>
                <li>
                    <a href="/about/history">發展歷史</a>
                </li>
                <li>
                    <a href="/about/members">成員名單</a>
                </li>
            </ul>
        </div>
        <div class="content">
            <div class="row">
                <div class="member">
                    <img src="../static/image/members/CEO.jpg" alt="Member 1">
                    <div class="describe">
                        <h2>CEO&nbsp;&nbsp;&nbsp;&nbsp;杜峯 Alonza</h2>
                        <p>一手創立嗨心無限公司，努力在代碼中亂殺，希望可以早日躺平。</p>
                    </div>
                </div>
                <div class="member">
                    <img src="../static/image/members/CEOmishu.jpg" alt="Member 2">
                    <div class="describe">
                        <h2>CEO 秘書&nbsp;&nbsp;&nbsp;&nbsp;黃荷硯 Nicole</h2>
                        <p>跟CEO聯手在全世界嘎嘎亂殺，主要負責嘎嘎，以及管理財務。</p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="member">
                    <img src="../static/image/members/mobilezhuliren.jpg" alt="Member 3">
                    <div class="describe">
                        <h2>Mobile主理人&nbsp;&nbsp;Panda</h2>
                        <p>行動網站架設總監，負責mobile版網頁，手裡拿的不是錢，是夢想。</p>
                    </div>
                </div>
                <div class="member">
                    <img src="../static/image/members/baoanduizhang.jpg" alt="Member 4">
                    <div class="describe">
                        <h2>保安隊長&nbsp;&nbsp;Andy</h2>
                        <p>世界級一流黑客，負責網站的各種安全防禦，但最近交了女朋友有點飄。</p>
                    </div>
                </div>
            </div>
            <div class="row">
                <!-- More Members -->
            </div>
        </div>
    </div>
</body>
</html>