<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>嗨心無限公司</title>

    <link rel="stylesheet" href="../static/css/topbar.css">
    <link rel="stylesheet" href="../static/css/nothing.css">
</head>
<body>
    <div class="topbar">
        <span class="extra-text">
            <a href="/">Happy Infinite</a>
        </span>
        <div class="link">
            <a href="/">首頁</a>
            <a href="/about">關於公司</a>
            <a href="/nothing">充個版面</a>
            <a href="/contact">聯絡我們</a>
        </div>
    </div>
    <div class="main">
        <div class="content">
            <h1>這真的只是來充個版面的</h1>
            <h1>我覺得那邊有四個東西比較順眼</h1>
            <h1>但來都來了</h1>
            <h1>Follow一下我的IG吧: 
                <a id="link" href="https://www.instagram.com/df_alonza_03.14" target="_blank">df_alonza_03</a>
            </h1>
        </div>
    </div>
</body>
</html>